<button class="btn btn-primary" ng-hide="comCtrl.show" ng-click="comCtrl.toggle()">Mostrar comentarios <span class="badge">{{ comCtrl.comments.length }}</span></button>
<div class="panel panel-primary" ng-show="comCtrl.show">
  <div class="panel-heading">
    <h1 class="panel-title">Comments <button class="close pull-right" ng-click="comCtrl.toggle()">&times;</button></h1>
  </div>
  <div class="panel-body">
    <form ng-submit="commentsForm.$valid && comCtrl.addComment()" name="commentsForm" class="form-horizontal" role="form" novalidate>
      <div class="form-group">
        <div class="col-sm-6">
          <textarea ng-model="comCtrl.comment.body" placeholder="Please tell us what you think about {{ pokeCtrl.pokemon.name }}" class="form-control" required></textarea>
        </div>
        <div class="col-sm-4">
          <input ng-model="comCtrl.comment.email" ng-disabled="comCtrl.comment.anonymous" type="email" placeholder="Please enter your email address" class="form-control" ng-required="!comCtrl.comment.anonymous">
          <label>
            <input ng-model="comCtrl.comment.anonymous" ng-change="comCtrl.anonymousChanged()" id="anonymous" type="checkbox">
            Anonymous
          </label>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-lg">Comment</button>
        </div>
      </div>
    </form>
    <div ng-if="!commentsForm.$valid" class="alert alert-danger">Formulario Invalido</div>
    <blockquote ng-repeat="comment in comCtrl.comments">
      <p>{{ comment.body }}</p>
      <footer>
        Comment by
        <a ng-if="!comment.anonymous" href="mailto:{{ comment.email }}">{{ comment.email }}</a>
        <em ng-if="comment.anonymous">Anonymous</em>
        on <span>{{ comment.date | date:'medium' }}</span>
      </footer>
    </blockquote>
  </div>
</div>