<ul class="list-group">
	<li class="list-group-item">
		<strong>HP</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats.hp }}</span>
	</li>
	<li class="list-group-item">
		<strong>Ataque</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats.attack }}</span>
	</li>
	<li class="list-group-item">
		<strong>Defensa</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats.defense }}</span>
	</li>
	<li class="list-group-item">
		<strong>Ataque Especial</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats['sp.atk'] }}</span>
	</li>
	<li class="list-group-item">
		<strong>Defensa Especial</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats['sp.def'] }}</span>
	</li>
	<li class="list-group-item">
		<strong>Velocidad</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats.speed }}</span>
	</li>
	<li class="list-group-item">
		<strong>Total</strong>
		<span class="pull-right badge">{{ pokeCtrl.pokemon.stats.total }}</span>
	</li>
</ul>